<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/src/core.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
{% load humanize %}
<style>
  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  h3 {
    color: unset;
  }

  .bg-white {
    background-color: var(--body-bg);
  }

  .text-black {
    color: var(--body-fg);
  }

  /* h1 {
    color: black;
  } */
</style>

<!-- total report -->

<div class="flex justify-center">
  <div class="flex justify-center flex-col w-[70vw] items-center ">

    <div class=" grid sm:h-52 gap-5 sm:grid-flow-col  w-full">

      <a href="app_gen/user/" class="focus:no-underline">
        <div
          class="rounded-[1.2em] p-4 my-4 bg-white hover:shadow-xl text-cyan-500 hover:shadow-cyan-500/50 cursor-pointer  duration-150 shadow-md ">
          <h3 class="text-lg font-thin ">Total User</h3>
          <div class="rounded-full  h-6">ยอดผู้ใช้งาน</div>
          <div class="text-[5rem] text-end">{{users}}</div>
        </div>
      </a>

      <a href="app_gen/transaction/" class="focus:no-underline">
        <div
          class="rounded-[1.2em] p-4 my-4 bg-white hover:shadow-xl text-blue-500 hover:shadow-blue-500/50 cursor-pointer  duration-150 shadow-md">
          <h3 class="text-lg font-thin ">Total Transaction</h3>
          <div class="rounded-full  h-6">ยอดการซื้อ</div>
          <div class="text-[5rem] text-end">{{trans}}</div>
        </div>
      </a>

      <a href="app_gen/imggen/" class="focus:no-underline">
        <div
          class="rounded-[1.2em] p-4 my-4 bg-white hover:shadow-xl text-emerald-500 hover:shadow-emerald-500/50 cursor-pointer  duration-150 shadow-md">
          <h3 class="text-lg font-thin ">Total Design</h3>
          <div class="rounded-full  h-6">ยอดการออกแบบ</div>
          <div class="text-[5rem] text-end">{{design}}</div>
        </div>
      </a>

      <a href="app_gen/transaction/" class="focus:no-underline">
        <div
          class="rounded-[1.2em] p-4 my-4 bg-white hover:shadow-xl text-[#b99810] hover:shadow-[#b99810]/50 cursor-pointer  duration-150 shadow-md">
          <h3 class="text-lg font-thin ">Total Revenue</h3>
          <div class="rounded-full h-6 ">ยอดรายได้รวม</div>
          <div class="text-[5rem] text-end">฿{{revenue|intcomma}}</div>
        </div>
      </a>
      <input type="hidden" id="range" value="{{range}}">
      <input type="hidden" id="userStat" value="{{data}}">
      <input type="hidden" id="transStat" value="{{tdata}}">
      <input type="hidden" id="packStat" value="{{pdata}}">
      <input type="hidden" id="revenueStat" value="{{rdata}}">
    </div>


    <!-- data -->

    <!-- {{data}}
    <div></div>
    {{sum}} -->
    <!-- graph -->

    <div class="py-5 w-[90%] overflow-hidden">
      <div class="w-full flex items-center justify-center gap-4 py-5">

        <button onclick="changeGraph('OS')">
          <div id="OS" class="rounded-full bg-white text-black shadow-md px-4 py-2 duration-150">Overall Summary</div>
        </button>

        <button onclick="changeGraph('RS')">
          <div id="RS" class="rounded-full bg-gray-300 text-gray-500 px-4 py-2  duration-150">Revenue Summary</div>
        </button>
      </div>
      <div class="flex gap-4 w-full">
        <canvas id="myChart" class="w-[300px] sm:w-full rounded-2xl bg-white text-white p-4 shadow-md"> </canvas>
        <canvas id="myChart_" class="w-[300px] sm:w-full rounded-2xl bg-white p-4 shadow-md hidden"> </canvas>
      </div>

      <div class="sm:flex items-baseline gap-5">
        <div class="flex gap-2 py-5">
          <div class="rounded-xl bg-white shadow-md  p-5">
            <div class="text-xl py-5 font-bold flex items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
            </svg>
            Packaging Rank</div>
            {% for item in popular %}
            <div class="flex gap-3  items-center w-full">
              <div class="flex justify-between w-1/2 py-2">
                <div class="text-4xl">{{ forloop.counter }}</div>
                {% if forloop.counter == 1%}
                <div class="rounded-xl overflow-hidden w-[250px] "><img src="{{item.gen.gen_source}}" alt=""></div>
                {% else %}
                <div class="rounded-xl overflow-hidden w-[150px] "><img src="{{item.gen.gen_source}}" alt=""></div>
                {% endif %}
              </div>
              <div>
                <div class="bg-gray-100 mt-2 rounded-md p-2">{{item.gen_star}}</div>
                <div class="bg-gray-100 mt-2 rounded-md p-2">{{item.gen_message}}</div>
                <div class="">{{item.gen.acc_id}}</div>
                <div class="">{{item.gen.gen_CreateAt}}</div>
              </div>
            </div>
            {% endfor %}
            <!-- <div class="w-full py-5">
        
              <div class="flex ">
                <div class="text-4xl">{{ forloop.counter }}</div>
                <div class="rounded-xl overflow-hidden w-[98px]  h-[98px]"><img class="object-cover h-full" src="{{item.gen.gen_source}}" alt=""></div>
                <div>
                  <div class="bg-gray-100 mt-2 rounded-md p-2">{{item.gen_star}}</div>
                  <div class="bg-gray-100 mt-2 rounded-md p-2">{{item.gen_message}}</div>
                  <div class="">{{item.gen.acc_id}}</div>
                  <div class="">{{item.gen.gen_CreateAt}}</div>
                </div>
              </div>
        
            </div> -->
          </div>
        </div>
        <div class="bg-white rounded-xl shadow-md p-5">
          <table class="rounded-xl overflow-hidden p-8 ring ring-gray-100">
            <div class="text-xl py-5 font-bold flex items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z" />
            </svg>
            Transactions </div>
            <thead class="bg-gray-100 rounded-t-lg text-gray-600">
              <tr>
                <td>NO.</td>
                <td>ACC_ID</td>
                <td>Start_date</td>

                <td>Status</td>
                <td>Total amount</td>
              </tr>
            </thead>
            {% for item in transvalue %}
            <tbody>
             
              <tr class="">
                <td>{{forloop.counter}}</td>
                <td>{{item.acc_id}}</td>
                <td>{{item.start_date}}</td>
                <td>{{item.status}}</td>
                <td>{{item.total_amount}}</td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>

    </div>
  </div>
</div>


<script>

  console.log(range.value)
  const ctx = document.getElementById('myChart');
  const ctx_ = document.getElementById('myChart_');
  const userlabels = JSON.parse(range.value)
  const userData = JSON.parse(userStat.value)



  const translabels = JSON.parse(range.value)
  const transData = JSON.parse(transStat.value)
  const revenueData = JSON.parse(revenueStat.value)
  const packData = JSON.parse(packStat.value)

  let delayed;









</script>

<script>
  selectPoint = document.getElementById("OS")
  changeGraph("OS")
  function changeGraph(id) {
    selectPoint.classList.add('bg-gray-300');
    selectPoint.classList.add('text-gray-500');
    selectPoint.classList.remove('bg-white');
    selectPoint.classList.remove('text-black');
    selectPoint.classList.remove('shadow-md');
    selectPoint = document.getElementById(id)
    selectPoint.classList.add('bg-white');
    selectPoint.classList.add('text-black');
    selectPoint.classList.add('shadow-md');
    selectPoint.classList.remove('bg-gray-300');
    selectPoint.classList.remove('text-gray-500');
    if (id == 'RS') {
      myChart_.classList.remove("hidden");
      myChart.classList.add("hidden");
      cht = new Chart(ctx_, {
        type: 'line',
        data: {
          labels: userlabels,
          datasets: [
            {
              label: 'Revenue Per Month',
              data: revenueData,
              borderWidth: 5,
              tension: 0.3,
              pointRadius: 5,
              pointHoverRadius: 8,
              backgroundColor: '#ffffff',
              borderColor: "#8E8FFA",
              fill: false
            },

          ]
        }, options: {
          // gradientFill: true, 
          responsive: true,
          plugins: {
            title: {
              display: true,
              text: (ctx) => 'Revenue Summary',
            }
            ,
            legend: {
              labels: {

                font: {
                  size: 16,
                  family: 'Noto Sans Thai',
                }
              }
            }
          },
          animations: {
            onComplete: () => {
              delayed = true;
            },
            delay: (context) => {
              let delay = 0;
              if (context.type === 'data' && context.mode === 'default') {
                delay = context.dataIndex * 300 + context.datasetIndex * 100;
              }
              return delay;
            },
          },
          scales: {
            y: {
              title: {
                display: true,

                text: 'Amount of usage'
              },
              beginAtZero: true
            },
            x: {
              stacked: true,
              title: {
                display: true,
                text: 'Month'
              },
              beginAtZero: true
            }
          }
        }
      }
      );
    } else {
      myChart_.classList.add("hidden");
      myChart.classList.remove("hidden");
      cht = new Chart(ctx, {
        type: 'line',
        data: {
          labels: userlabels,
          datasets: [{
            label: 'Users',
            data: userData,
            borderWidth: 5,
            tension: 0.3,
            pointRadius: 5,
            pointHoverRadius: 8,
            backgroundColor: '#ffffff',
            borderColor: "#34c1f9",

            fill: false
          },
          {
            label: 'Transactions',
            data: transData,
            borderWidth: 5,
            tension: 0.3,
            pointRadius: 5,
            pointHoverRadius: 8,
            backgroundColor: '#ffffff',
            borderColor: "#8E8FFA",
            fill: false
          },
          {
            label: 'Package Design',
            data: packData,
            borderWidth: 5,
            tension: 0.3,
            pointRadius: 5,
            pointHoverRadius: 8,
            backgroundColor: '#ffffff',
            borderColor: "#f9db34",


            fill: false
          }
          ]
        }, options: {
          // gradientFill: true, 
          responsive: true,
          plugins: {
            title: {
              display: true,
              text: (ctx) => "Overall Summary",
            },
            legend: {
              labels: {

                font: {
                  size: 14,
                  family: 'Noto Sans Thai',
                }
              }
            }
          },
          animations: {
            onComplete: () => {
              delayed = true;
            },
            delay: (context) => {
              let delay = 0;
              if (context.type === 'data' && context.mode === 'default') {
                delay = context.dataIndex * 300 + context.datasetIndex * 100;
              }
              return delay;
            },
          },
          scales: {
            y: {
              title: {
                display: true,

                text: 'Amount of usage'
              },
              beginAtZero: true
            },
            x: {
              stacked: true,
              title: {
                display: true,
                text: 'Month'
              },
              beginAtZero: true
            }
          }
        }
      }
      );
    }
  }
</script>