<!DOCTYPE html>
<html lang="en">

    
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="/static/app_gen/images/unipack.png" type="image/x-icon">
      <title>UNIPACK - {% block title %} {% endblock %} </title>
      <script src="https://cdn.tailwindcss.com"></script>
      <script src="https://unpkg.com/scrollreveal"></script>
    </head>
<body>

    {% include 'app_gen/components/navbar.html' %}

    {% block content %}{% endblock %}
</body>
</html>