{% extends "app_gen/components/base_profile.html" %}
{% block profile %}
<style>
  dialog {
    margin: 0;

    width: 100wv;
  }

  [type=text] {
    background-color: unset;
    border: 0;
    padding: 0;

  }

  [type=text]:focus {
    border-bottom: 1px solid black;
    border: 0;
  }


  .cover {
    background: url(https://images.unsplash.com/photo-1575408264798-b50b252663e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1053&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  .cover::before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.782));
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100vh;
    transform: scale3d(1.5, 1.5, 1.5);
  }
</style>
{% if request.session.status != True %}
<!-- <span class="inline-flex items-center rounded-full  w-full bg-red-600/50 px-5 py-5 text-xs font-medium text-white ring-2 ring-offset-30 ring-red-600/20  ">Please <a href="# " class="underline px-1"> confirm your E-mail address </a> to use full options.</span> -->
{% endif %}
<div class="flex gap-3 bg-black p-5 rounded-3xl my-2 h-1/6 items-center overflow-hidden relative cover">

  <div class="bg-black overflow-hidden w-28  h-28 rounded-full"><img src="{{ request.session.pic }}" alt=""></div>
  <div>
    <div class="flex justify-start group gap-5 items-center">
      <!-- <div class="text-2xl bg-none name">{{ request.session.username }}</div> -->
      <form action="">
        <div><input type="text" value="{{ request.session.username }}" class="text-2xl ring-0 w-28" readonly></div>
      </form>
      <button onclick="rename()" type="button"
        class="name opacity-0 duration-150 cursor-pointer group-hover:opacity-100 group-hover:block p-2 bg-gray-400 rounded-full ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
        </svg>
      </button>
      <button class="name" hidden onclick="rename()">Cancel</button>
      <script>
        function rename() {
          x = document.getElementsByClassName("name");
          for (let i = 0; i < x.length; i += 1) {
            x[i].toggleAttribute('hidden');
          }
        }
      </script>

    </div>
    <div>{{ request.session.email }}</div>
    <div class="ring-2 w-24 text-center rounded-md ring-gray-400 my-2" >{{ request.session.role }}</div>

  </div>
</div>

{% endblock %}
{% block title %}
<div>Recycle Bin</div>
{% endblock %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>


  
<div class="grid grid-cols-2 mb-96 md:grid-cols-4 gap-4 z-0">
  {% for image in img %}

  {% if empty %}
  Nothing here ;D
  {% endif %}

  <form action="/profile/bin/act/{{ image.gen.gen_id }}" method="post">
    {% csrf_token %}
  <div class="grid gap-4 relative group">
    <div class="absolute bg-black/50 w-full h-full  items-center justify-center gap-2 flex opacity-0 duration-150 group-hover:opacity-100">
      <button type="submit" name="submit" value="del" class="hover:text-red-400 duration-150" ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
        <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375z" />
        <path fill-rule="evenodd" d="M3.087 9l.54 9.176A3 3 0 006.62 21h10.757a3 3 0 002.995-2.824L20.913 9H3.087zm6.133 2.845a.75.75 0 011.06 0l1.72 1.72 1.72-1.72a.75.75 0 111.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 11-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 11-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
      </svg>
      
      </button>
      <button type="submit" name="submit" value="recover" class="hover:text-green-400 duration-150"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
      </svg>
      </button>
    </div>
    <button data-modal-target="defaultModal" data-modal-toggle="defaultModal" >
      
      <img class="h-auto max-w-full rounded-lg  hover:shadow-md"
        src="{{ image.gen.gen_source }}"/>
    </button>
  
  </div>
  </form>
   
  {% endfor %}
  
</div>


{% endblock %}