{% extends "app_gen/components/base_profile.html" %}
{% block title %}

<form action="{{request.path}}" method="post">
    {% csrf_token %}
    <input type="text" id="nameCol" name="nameCol" class="text-md bg-gray-900 border-0 ring-0 w-[40vw] p-2 rounded-md "
        value="{{ col.col_name }} ">
    <button type="submit" name="submit" value="rename"
        class=" text-md bg-black rounded-md p-2 hover:bg-slate-500 hidden" id="save">Save</button>
    <button id="cancleRename" type="button" class="text-md hidden">Cancel</button>
</form>

<div>
    <button onclick="panelAct()">
        <div
            class="text-sm duration-200 hover:bg-slate-700 shadow-lg bg-slate-800 p-3 px-5 rounded-lg flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            Add package
    </button>
    
    <a href="{{request.path}}?submit=remove">
        <button>
            <div
                class="text-sm duration-200 hover:bg-slate-700 shadow-lg bg-slate-800 p-3 px-5 rounded-lg flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 3l1.664 1.664M21 21l-1.5-1.5m-5.485-1.242L12 17.25 4.5 21V8.742m.164-4.078a2.15 2.15 0 011.743-1.342 48.507 48.507 0 0111.186 0c1.1.128 1.907 1.077 1.907 2.185V19.5M4.664 4.664L19.5 19.5" />
                  </svg>
        
                Remove
        </button>
    </a>
</div>



{% endblock %}

{% block content %}

<div id="panel" class="hidden  z-[100] fixed w-full h-full top-0 left-0 flex justify-center items-center bg-black/50" >
    <form method="post" action={{ request.path }}  class="">
        {% csrf_token %}
        <div class="shadow-lg bg-slate-900 rounded-2xl p-10 grid items-center gap-5">
            <div class="text-2xl">Add package</div>
    
            <input type="hidden" class="text-black" id="id" name="id">
            <div class="grid grid-cols-3  gap-2 overflow-y-scroll overflow-x-hidden h-[50vh]">
                {% for package in packages %}
                <div class="relative">
                    <input type="checkbox" class="rounded-full w-10 absolute top-3 right-3 peer hidden"
                        id="package{{package.gen_id}}" value="{{package.gen_id }}">
                    <label for="package{{package.gen_id }}"
                        class="rounded-full w-5 h-5 ring-white ring-offset-3 ring-1 absolute top-3 right-3 peer-checked:bg-slate-800"></label>
                    <label for="package{{package.gen_id }}">
                        <img class="h-auto sm:max-w-[10rem] max-w-[5rem] rounded-lg duration-150 hover:shadow-md"
                            src="{{package.gen_source }}" />
                    </label>
                </div>
                {% endfor %}
            </div>
    
    
    
    
            <button type="submit" name="submit" name="submit" value="add"
                class="rounded-md bg-black px-3 py-2 hover:bg-slate-500">Add</button>
    
            <button type="button" class="hover:text-slate-200" onclick="panelAct()">Cancel</button>
        </div>
    </form>
</div>

<div class="grid grid-cols-2 md:grid-cols-4 mb-96 gap-4 z-0">

    {% for image in images %}



    <div class="grid gap-4 ">

       

            
            <div class="relative group" >
                <div
                class="absolute bg-black/50 w-full h-full  items-center justify-center gap-2 flex opacity-0 duration-150 group-hover:opacity-100">
                <a href="{{ request.path }}?submit=unsave&id={{ image.gen_id.gen_id }}" value="del"
                    class="hover:text-red-400 duration-150"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        fill="currentColor" class="w-8 h-8">
                        <path
                            d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375z" />
                        <path fill-rule="evenodd"
                            d="M3.087 9l.54 9.176A3 3 0 006.62 21h10.757a3 3 0 002.995-2.824L20.913 9H3.087zm6.133 2.845a.75.75 0 011.06 0l1.72 1.72 1.72-1.72a.75.75 0 111.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 11-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 11-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06z"
                            clip-rule="evenodd" />
                    </svg>

                </a>
                <a href="/profile/generated/{{ image.gen_id.gen_id }}" name="submit" value="detail"
                    class="hover:text-green-400 duration-150"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>

                </a>
            </div>
                <img class="h-full object-cover rounded-lg " src="{{image.gen_id.gen_source }}" />


            </div>
      


        {% if empty %}
        Not image in this Collection
        {% endif %}
    </div>
    {% endfor %}
</div>

<script>
    defaultName = nameCol.value;
    function panelAct() {
        panel.classList.toggle("hidden");
    }
    var text = []
    const items = document.getElementsByClassName('peer');

    Array.prototype.remove = function () {
        var what, a = arguments, L = a.length, ax;
        while (L && this.length) {
            what = a[--L];
            while ((ax = this.indexOf(what)) !== -1) {
                this.splice(ax, 1);
            }
        }
        return this;
    };


    for (let i = 0; i < items.length; i++) {
        items[i].addEventListener("change", () => {
            if (items[i].checked) {
                text.push(items[i].value);
                id.value = text;
            } else {
                text.remove(items[i].value);
                id.value = text;
            }
        });
    }

    nameCol.addEventListener("change", () => {
        save.classList.remove('hidden');
        cancleRename.classList.remove('hidden');

    })

    cancleRename.addEventListener("click", () => {
        nameCol.value = defaultName;
        save.classList.add('hidden');
        cancleRename.classList.add('hidden');
    })
</script>
{% endblock %}