{% extends "app_gen/components/base_profile.html" %} 
{% block title %}<div>Collections</div><a href="#">
  <div class="text-sm duration-200 hover:bg-slate-700 shadow-lg bg-slate-800 p-3 px-5 rounded-lg flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
  </svg>
  New Collection</div>{% endblock %}

{% block content %}
<div class="grid justify-center items-center justify-items-start grid-cols-2 md:grid-cols-4 gap-4">
  <div class="grid  gap-4 bg-slate-700 rounded-md p-2 overflow-hidden hover:bg-slate-500 duration-150">
    <div class="grid grid-cols-2 gap-2">
      <div class="w-20 h-20 rounded-md overflow-hidden"><img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt=""></div>
      <div class="w-20 h-20 rounded-md overflow-hidden"><img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt=""></div>
      <div class="w-20 h-20 rounded-md overflow-hidden"><img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt=""></div>
      <div class="w-20 h-20 rounded-md overflow-hidden"><img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt=""></div>
    </div>
     <div class="text-center">Product</div>
  </div>
</div>

{% endblock %}
